.catalogo_contenido img{
	width:170px;
	border-radius:100%;
	border:7px solid #e4e4e4;
	cursor:pointer;
}
.catalogo_contenido_titulo{
	font-weight:150;
	font-size:25px;
}
.catalogo_line{
	position:absolute;
	width:2px;
	height:100px;
	background-color:#e4e4e4;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	z-index: -1000;
}

